.taskstate {
  height: 28px;
  min-width: 80px;
  line-height: 0;
  border-radius: 6px;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 0px 6px;
  font-size: 0.8rem;
  font-weight: 700; 
}

.tasks-dropdown-btn {
  background-color: #5030e5 !important;
  border: none !important;
  margin-left: 5px;
}
